@font-face {
  font-family: 'FontAwesome';
  src: url('../static/css/public/font-awesome-4.7.0/fonts/fontawesome-webfont.eot');
}

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei',微软雅黑,Arial, sans-serif;
}

html{

}

body{

	background: #ebebeb;
}


.main-header{
	height: 243px;
	width: 100%;
}

.body-header{
	height: 243px;
	/* header背景颜色 */
	background: #ffffff;
/*	background-image: url(/static/img/desktop.gif);
	background-size:220px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

.header-center{
	/* 使头部水平居中 */
	position:absolute;
	width: 600px;
	height: 200px;
	top:50%;
	left:50%;
	margin-left: -300px;
	margin-top: -100px;
	text-align: center;
}

.header-text{
	/* 文字颜色 */
	color: #000000;
}

.lsn-center{
	min-height: 660px;
	margin-top: 25px;
	margin-bottom: 15px;
	background-image: url(/static/img/bgi.jpg);
	background-color: #f4f4f4; 
	background-position: left top; 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-attachment: fixed;

	/*  源自知乎的div垂直居中方法 */
	display:flex;/*Flex布局*/
	display: -webkit-flex; /* Safari */
	align-items:center;/*指定垂直居中*/
}

.bottom{
	/* footer背景颜色 */
	background: #ffffff;
	width: 100%;
	height:66px;
	margin:0;
	overflow: hidden;
}

.text-bottom{
	position: relative;
	top: 30%;
	margin-bottom: 0;
	padding-bottom: 0;
}


a{
	text-decoration: none;
}


.main-navigation {
	text-align: center;
	/* 导航背景颜色 */
	background: #ffffff;
	border-top: 2px solid #ebebeb;
	border-bottom: 2px solid #e1e1e1;
}

.nav-header{
	width: 100%;
	height: 40px;
	float: left;
}

.menu{
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -15px;
}



.menu li{
	float: left;
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}

.menu li a{
	color: #333333;
}

.menu li a:hover{
	text-decoration: none;
	color: #4876FF;
}

/*#lsn-list tr th{
	text-align: center;
}*/

#lsn-list tr{
	height: 36px;
}

.btn-primary:hover{
	background-color: #121212;
	border-color: #121212;
  	text-decoration: none;
}



#module-index img{
	margin-bottom: 10px;
}



/*
评论模块样式
*/
/*分割线*/
.divide-line{
    padding: 0 20px 0;
    margin: 20px 0;
    line-height: 1px;
    letter-spacing:8px;
    border-left: 420px solid #757575;
    border-right: 420px solid #757575;
    text-align: center;
}

.remark-area textarea{
	resize: none;
}

.remark-btn{
	text-align: right;
	margin-top: 30px;
}
